body
{
    background-color: antiquewhite;
}

header
{
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: aqua;
    position: fixed;
    text-align: center;
    z-index: 100;
}

h2
{
    padding-top:100px ;
    text-align: center;
}

.corpo
{
    z-index: 99;
    position: absolute;
    left: 30px;
    display: inline-block;
    width: 45%;
}

#corpo2
{
    z-index: 99;
    position: absolute;
    display: inline-block;
    right: 30px;
    width: 45%;
}

.botao
{
    z-index: 100;
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.botao:hover
{
    background-color: red;
    color: white;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 34%;
    margin-bottom: 30px;
    text-decoration: none;
}

a.botao1
{
    margin-top: 30px;
    color: white;
    background-color: aqua;
    padding: 20px;
    text-decoration: none;
    border: 3px solid blue;
    border-radius: 10px;
    display: inline-block;
}

a.botao1:hover /* troca de cor */
{
    background-color: blue;
    border-color: aqua;
    padding: 22px;
}

a.botao2
{
    margin-top: 30px;
    padding: 20px;
    border: 3px double blue;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

a.botao2:hover /*preenchimento*/
{
    background-color: blue;
    color: white;
}

a.botao3
{
    text-decoration: none;
    color: black;
}

a.botao3:hover /*linha em baixo*/
{
    color: red;
    border-bottom:solid black ;
}

a.botao4
{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

a.botao4:hover /*colocar em negrito*/
{
    font-size: 20px;
    font-weight: bold;
}

a.botao5 /*mudança de cursor*/
{
    cursor: none;
}